<div class="container-fluid">
  <h1>タスク詳細</h1>
  <div class="row">
    <p>タスク名 :</p>
    <%= @task.name %>
  </div>
  <div class="row">
    <p>タスク内容 :</p>
    <%= @task.content %>
  </div>
  <div class="row">
    <p>状態 :</p>
    <%= @status_set[@task.status] %>
  </div>  
  <div class="row">
    <p>期限 :</p>
    <%= @task.expired_at.strftime("%m/%d %H:%M") %>
  </div>
</div>
